.Window {
    width: 100%;
    height: 100%;
    /* layout  */
    display: flex;
    flex-direction: column;
}

.WindowHeader {
    width: 100%;
    height: 20px;

    background-color: black;
    color: white;

    /* layout  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.WindowTitle{
    background-color: green;
    color: white;
}
.WindowController{
    background-color: blue;
    color: white;
}